customer_credentials:
  testCustomerId:
    credentialsMap:
        AZURE_OPENAI:
            customerId: testCustomerId
            enabled: true
            metadata:
                deploymentName: gpt-4o
                endpoint: https://myinstance.openai.azure.com/
            secret: test_secret
            type: AZURE_OPENAI
        OPENAI:
            customerId: testCustomerId
            enabled: false
            metadata:
                model: gpt-3
            secret: test_secret
            type: OPENAI
