[tool.poetry]
name = "skynet"
version = "0.1.0"
description = ""
authors = ["Jitsi Team <team@jitsi.org>"]
readme = "README.md"

[tool.poetry.group.dev.dependencies]
poetry-githooks = "^3.0.0"

[tool.poetry.dependencies]
aiodns = "^3.0.0"
aiohttp = "^3.8.5"
boto3 = "^1.28.56"
cachetools = "^5.3.1"
cryptography = "41.0.3"
fastapi = "0.104.1"
fastapi-versionizer = "3.0.4"
langchain = "0.0.332"
llama-cpp-python = {version = "0.2.13", extras = ["server"]}
pydantic = "2.4.2"
pyjwt = "2.8.0"
python = "~3.11"
redis = "5.0.1"
uvicorn = "0.24.0"
black = "23.11.0"
prometheus-fastapi-instrumentator = "6.1.0"
prometheus-client = "0.18.0"
pytest = "7.4.3"
pytest-asyncio = "0.21.1"
pytest-mock = "3.12.0"

[build-system]
build-backend = "poetry.core.masonry.api"
requires = ["poetry-core"]

[tool.black]
line-length = 120
target-version = ['py311']
skip-string-normalization = 1

[tool.githooks]
pre-commit = "sh lint.sh"
