aiohttp==3.9.1 ; python_version >= "3.11" and python_version < "3.12"
aiosignal==1.3.1 ; python_version >= "3.11" and python_version < "3.12"
annotated-types==0.6.0 ; python_version >= "3.11" and python_version < "3.12"
anyio==4.2.0 ; python_version >= "3.11" and python_version < "3.12"
async-lru==2.0.4 ; python_version >= "3.11" and python_version < "3.12"
async-timeout==4.0.3 ; python_version >= "3.11" and python_full_version <= "3.11.2"
attrs==23.2.0 ; python_version >= "3.11" and python_version < "3.12"
av==10.0.0 ; python_version >= "3.11" and python_version < "3.12"
boto3==1.34.19 ; python_version >= "3.11" and python_version < "3.12"
botocore==1.34.19 ; python_version >= "3.11" and python_version < "3.12"
certifi==2023.11.17 ; python_version >= "3.11" and python_version < "3.12"
cffi==1.16.0 ; python_version >= "3.11" and python_version < "3.12"
charset-normalizer==3.3.2 ; python_version >= "3.11" and python_version < "3.12"
click==8.1.7 ; python_version >= "3.11" and python_version < "3.12"
colorama==0.4.6 ; python_version >= "3.11" and python_version < "3.12" and platform_system == "Windows"
coloredlogs==15.0.1 ; python_version >= "3.11" and python_version < "3.12"
cryptography==41.0.7 ; python_version >= "3.11" and python_version < "3.12"
ctranslate2==3.24.0 ; python_version >= "3.11" and python_version < "3.12"
dataclasses-json==0.6.3 ; python_version >= "3.11" and python_version < "3.12"
diskcache==5.6.3 ; python_version >= "3.11" and python_version < "3.12"
fastapi-versionizer==3.0.4 ; python_version >= "3.11" and python_version < "3.12"
fastapi==0.109.0 ; python_version >= "3.11" and python_version < "3.12"
faster-whisper @ git+https://github.com/guillaumekln/faster-whisper@5a0541ea7d054aa3716ac492491de30158c20057 ; python_version >= "3.11" and python_version < "3.12"
filelock==3.13.1 ; python_version >= "3.11" and python_version < "3.12"
flatbuffers==23.5.26 ; python_version >= "3.11" and python_version < "3.12"
frozenlist==1.4.1 ; python_version >= "3.11" and python_version < "3.12"
fsspec==2023.12.2 ; python_version >= "3.11" and python_version < "3.12"
greenlet==3.0.3 ; python_version >= "3.11" and python_version < "3.12" and (platform_machine == "aarch64" or platform_machine == "ppc64le" or platform_machine == "x86_64" or platform_machine == "amd64" or platform_machine == "AMD64" or platform_machine == "win32" or platform_machine == "WIN32")
h11==0.14.0 ; python_version >= "3.11" and python_version < "3.12"
huggingface-hub==0.20.2 ; python_version >= "3.11" and python_version < "3.12"
humanfriendly==10.0 ; python_version >= "3.11" and python_version < "3.12"
idna==3.6 ; python_version >= "3.11" and python_version < "3.12"
jinja2==3.1.3 ; python_version >= "3.11" and python_version < "3.12"
jmespath==1.0.1 ; python_version >= "3.11" and python_version < "3.12"
jsonpatch==1.33 ; python_version >= "3.11" and python_version < "3.12"
jsonpointer==2.4 ; python_version >= "3.11" and python_version < "3.12"
langchain-community==0.0.12 ; python_version >= "3.11" and python_version < "3.12"
langchain-core==0.1.10 ; python_version >= "3.11" and python_version < "3.12"
langchain==0.0.354 ; python_version >= "3.11" and python_version < "3.12"
langsmith==0.0.80 ; python_version >= "3.11" and python_version < "3.12"
llama-cpp-python[server]==0.2.18 ; python_version >= "3.11" and python_version < "3.12"
markupsafe==2.1.3 ; python_version >= "3.11" and python_version < "3.12"
marshmallow==3.20.2 ; python_version >= "3.11" and python_version < "3.12"
mpmath==1.3.0 ; python_version >= "3.11" and python_version < "3.12"
multidict==6.0.4 ; python_version >= "3.11" and python_version < "3.12"
mypy-extensions==1.0.0 ; python_version >= "3.11" and python_version < "3.12"
natsort==8.4.0 ; python_version >= "3.11" and python_version < "3.12"
networkx==3.2.1 ; python_version >= "3.11" and python_version < "3.12"
numpy==1.26.3 ; python_version >= "3.11" and python_version < "3.12"
onnxruntime==1.16.3 ; python_version >= "3.11" and python_version < "3.12"
packaging==23.2 ; python_version >= "3.11" and python_version < "3.12"
prometheus-client==0.19.0 ; python_version >= "3.11" and python_version < "3.12"
prometheus-fastapi-instrumentator==6.1.0 ; python_version >= "3.11" and python_version < "3.12"
protobuf==4.25.2 ; python_version >= "3.11" and python_version < "3.12"
pycparser==2.21 ; python_version >= "3.11" and python_version < "3.12"
pydantic-core==2.14.6 ; python_version >= "3.11" and python_version < "3.12"
pydantic-settings==2.1.0 ; python_version >= "3.11" and python_version < "3.12"
pydantic==2.5.3 ; python_version >= "3.11" and python_version < "3.12"
pyjwt[crypto]==2.8.0 ; python_version >= "3.11" and python_version < "3.12"
pyreadline3==3.4.1 ; sys_platform == "win32" and python_version >= "3.11" and python_version < "3.12"
python-dateutil==2.8.2 ; python_version >= "3.11" and python_version < "3.12"
python-dotenv==1.0.0 ; python_version >= "3.11" and python_version < "3.12"
pyyaml==6.0.1 ; python_version >= "3.11" and python_version < "3.12"
redis==5.0.1 ; python_version >= "3.11" and python_version < "3.12"
requests==2.31.0 ; python_version >= "3.11" and python_version < "3.12"
s3transfer==0.10.0 ; python_version >= "3.11" and python_version < "3.12"
setuptools==69.0.3 ; python_version >= "3.11" and python_version < "3.12"
six==1.16.0 ; python_version >= "3.11" and python_version < "3.12"
sniffio==1.3.0 ; python_version >= "3.11" and python_version < "3.12"
sqlalchemy==2.0.25 ; python_version >= "3.11" and python_version < "3.12"
sse-starlette==1.8.2 ; python_version >= "3.11" and python_version < "3.12"
starlette-context==0.3.6 ; python_version >= "3.11" and python_version < "3.12"
starlette==0.35.1 ; python_version >= "3.11" and python_version < "3.12"
sympy==1.12 ; python_version >= "3.11" and python_version < "3.12"
tenacity==8.2.3 ; python_version >= "3.11" and python_version < "3.12"
tokenizers==0.13.3 ; python_version >= "3.11" and python_version < "3.12"
torch==2.0.1 ; python_version >= "3.11" and python_version < "3.12"
torchaudio==2.0.2 ; python_version >= "3.11" and python_version < "3.12"
tqdm==4.66.1 ; python_version >= "3.11" and python_version < "3.12"
typing-extensions==4.9.0 ; python_version >= "3.11" and python_version < "3.12"
typing-inspect==0.9.0 ; python_version >= "3.11" and python_version < "3.12"
urllib3==2.0.7 ; python_version >= "3.11" and python_version < "3.12"
uuid6==2024.1.12 ; python_version >= "3.11" and python_version < "3.12"
uvicorn==0.25.0 ; python_version >= "3.11" and python_version < "3.12"
yarl==1.9.4 ; python_version >= "3.11" and python_version < "3.12"
