h1 {
    color:#333333;
    font-family: 'Helvetica', sans-serif;
    text-align: center;
}

div.controls {
    text-align: center;
    margin: 0 auto;
    margin-top: 30px;
}

div.controls > button {
    display: inline-block;
    margin-bottom: 1.45em;
}

div.inputs {
    display: block;
    margin: 0 auto;
}

#outputcontainer {
    display: block;
    width: 100%;
    min-height: 100px;
    padding: 0.4em;
    background-color: #efefef;
    margin-top: 100px;
}

#outputcontainer p {
    width: 30em;
    margin: 0 auto;
    display: block;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
    color: #333333;
    text-align: left;
}

#finalcontainer {
    display: block;
    padding: 0.4em;
}

#finalcontainer p {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
    color: #333333;
}

