name: CI

on:
  push:
    branches: [master]
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Free up disk space
        run: |
          sudo rm -rf /usr/share/dotnet
          sudo rm -rf /opt/ghc
          sudo rm -rf /usr/local/share/boost
      - uses: actions/setup-python@v5
        with:
          python-version: 3.11
      - name: Install and start Ollama
        run: |
          curl -fsSL https://ollama.com/install.sh | sh
          nohup ollama serve > /dev/null 2>&1 &
          sleep 5
          ollama pull llama3.2:1b
      - uses: shogo82148/actions-setup-redis@v1
        with:
          redis-version: "7.x"
      - name: cache poetry install
        uses: actions/cache@v4
        with:
          path: ~/.local
          key: poetry-2.0.1-0
      - uses: snok/install-poetry@v1
        with:
          version: 2.0.1
          virtualenvs-create: true
          virtualenvs-in-project: true
      - name: cache deps
        id: cache-deps
        uses: actions/cache@v4
        with:
          path: .venv
          key: pydeps-${{ hashFiles('**/poetry.lock') }}
      - run: poetry install --no-interaction --no-root
        if: steps.cache-deps.outputs.cache-hit != 'true'
      - run: poetry install --no-interaction
      - name: Run unit tests
        run: BYPASS_AUTHORIZATION=1 poetry run pytest
      - name: Run skynet
        run: BYPASS_AUTHORIZATION=1 LLAMA_PATH=llama3.2:1b ./run.sh & sleep 30
      - name: Run e2e tests
        run: BYPASS_AUTHORIZATION=1 poetry run python -m e2e.main -modules 'assistant,summaries' -skip-smart-tests