name: Docker Build

on:
  push:
    branches: [master]
  pull_request:

jobs:
  build:
    runs-on: ${{ matrix.os }}
    env:
      DOCKER_API_VERSION: "1.41"
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-24.04, ubuntu-24.04-arm]
    steps:
      - name: Check out code
        uses: actions/checkout@v4
      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@v3
        with:
          driver: docker
      - name: Build
        uses: docker/build-push-action@v6
        with:
          load: true
          tags: |
            jitsi/skynet:latest
          build-args: |
            BASE_IMAGE_BUILD=ubuntu:22.04
            BASE_IMAGE_RUN=ubuntu:22.04
            BUILD_WITH_VLLM=0
